<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, rows: 6 %>
  </div>
  <div class="field">
    <%= f.label :priority %>
    <%= f.select(:priority, options_for_select(@task.priority_hash.invert, @task[:priority])) %>
  </div>
  <div class="field">
    <%= f.label :created_at %><br>
    <%= f.date_select :created_at %>
  </div>
  <div>
    <% if @task[:completed] == true %>
        <%= f.label "Date Completed: " %>
        <%= f.date_select :date_completed, :disabled=> true %>
    <% else %>
        <%= f.label "Date Completed: Pending" %>
    <% end %>
  </div>
  <div>
    <%= f.label :completed %>
    <%= f.check_box(:completed) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
