<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<h1>To-Do's</h1>
<% if @tasks.size > 0 %>
  <table id="tasks_table">
    <thead>
    <th><%= sortable "title", "Task"%></th>
    <th><%= sortable "completed", "State" %></th>
    <th><%= sortable "priority"%></th>
    <th><%= sortable "description", "Description"%></th>
    <th><%= sortable "created_at", "Date Created" %></th>
    <th><%= sortable "date_completed", "Date Completed" %></th>
    <th colspan="9"></th>
    </thead>
        <% @tasks.each do |task| %>
            <tr class="<%= get_style_from_state(task.id) %>">
              <td><%= task.title %></td>
              <td><%= task.check_for_completion(task[:id]) ? "Completed" : "Active" %></td>
              <td><%= task.priority_hash[task.priority] %></td>
              <td><%= sanitize(task.description) %></td>
              <td><%= task.created_at %></td>
              <td><%= get_date_completed_from_task(task[:id]) %></td>
              <td>
                <% if task.check_for_completion(task[:id]) != true %>
                    <%= button_to 'Complete', complete_tasks_path(:task_id => task[:id]), :class=> "button", :method => :post  %>
                <% end %>
              </td>
              <td class="delete_action">
                <%= button_to 'Edit', edit_task_path(task), :class => "button", :method => :get %>
              </td>
              <td class="delete_action"><%= button_to 'X', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
  </table>
<% else %>
    <br />
 <p> No Current Tasks...</p>
<% end %>
<br />
<%= button_to 'Add Task', new_task_path, :class => "button", :method => :get %>